<div class="container">
  <% if !flash[:alert].nil? %>
    <div class="alert alert-danger"> <%= flash[:alert] %> </div>
    <% end %>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center"> 
        <h3 class="form-heading"> Editing page for Posts </h3>

<form action= "/foods/edit_complete" method="post">
  <input type="hidden" name="id" value="<%= @post.id %>">
  <p>+ Category:
  <select name= "post_category">
    <option value="Korean Foods"> Korean Foods</option>
    <option value="Japanese Foods"> Japanese Foods </option>
    <option value="Chinese Foods"> Chinese Foods </option>
    <option value="Western Foods"> Western Foods </option>
  </select></p>
  <p> <input class="form-input" type="text" name="post_title" value="<%= @post.title %>"> </p>
  <p><textarea class="form-textarea" name="post_content"><%= @post.content %></textarea></p> 
  <input type="submit" value="Edit">
  </form>
  </div>
  <div class="col-md-4">
  </div>
 </div>
</div>


