<div class= "container">

<% if !flash[:alert].nil? %>

  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
 
  <div class="well text-center">
    <h3> Welcome to my own YELP website. </h3>
     <p> Tell me your favorite restaurants to bite!</p>
   </div>

<%= render :partial => "foods/posts" %>
</div> 
