<div class="container">
  <% if !flash[:alert].nil? %>
    <div class = "alert alert-danger">
      <%= flash[:alert] %> 
    </div>
    <% end %>

    <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading"> Post your favorite restaurants!</h3>

  <form action="/foods/write_complete" method="post" enctype="multipart/form-data"> 
    <p>+ Category:
     <select name="post_category">
      <option value="Korean Foods">Korean Foods</option>
      <option value="Japanese Foods">Japanese Foods</option>
      <option value="Chinese Foods">Chinese Foods</option>
      <option value="Western Foods">Western Foods</option>
    </select></p>
   <p><input class="form-input" type="text" name="post_title" placeholder="Write your title here"></p>
   <p><textarea class = " form-textarea" name="post_content" placeholder="Write your comments here"></textarea></p> 
   <p>+ Upload your photos</p>
   <p><input type="file" name="image"></p>
   <input class="btn btn-lg btn-block" type="submit" value="add">
  </form>
  </div>
  <div class="col-md-4">
  </div>
 </div>
 </div>
