<div class = "container">
  <h1 class = "gourmet-title"><a class= "gourmet-title-link" href="/">One June's Gourmet</a></h1>
</div>

<nav class = "navbar navbar-default" role="navigation">
  <div class="container">
    <ul class= "nav navbar-nav navbar-left">
      <li><a href="/korean">Korean</a></li>
      <li><a href="/japanese">Japanese</a></li>
      <li><a href="/chinese">Chinese</a></li>
      <li><a href="/western">Western</a></li>
      <li><a href="/foods/write">Post</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <%if session[:user_id].nil? %>
      <li><a href="/users/signup">Sign in</a></li>
      <li><a href="/users/login">Log in</a></li>
      <% else %>
       <li><a href="/users/logout_complete">Log out</a> </li>
       <% end %>
    </ul>
  </div>
  </nav>
